* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    background-color: #f9f9f9;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #058d22;
    color: white;
    padding: 0 5%;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.logo img {
    height: 100px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #4CAF50;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;

}
form{
    width: 100%;
    
}
#logo2{
    height: 150px;
}
#email{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 5px;
}
#password{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 5px;
}
button{
    height: 40px;
    width: 100px;
    font-size: 1em;
    background-color: #058d22;
    color: white;
    border: solid 1px black;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 150px;
}
@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #058d22;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .nav-links a {
        padding: 15px;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%) !important;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}